body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffce85;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

body.night-mode {
    background-color: #37164d;
    color: #ecf0f1;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.header h1, .header h2 {
    position: relative;
    z-index: 1;
    color: white;
}

.mode-image {
    display: none;
    text-align: center;
}

.light-mode .light-mode-image {
    display: block;
}

.night-mode .dark-mode-image {
    display: block;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.points {
    font-size: 20px;
    margin: 20px 0;
}

.controls {
    margin-top: 20px;
}

select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#backgrounds {
    width: 200px;
}

.sound-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sound-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.2s;
}

.sound-button img {
    width: 50px;
    height: 50px;
}

.sound-button.active img {
    animation: glowing 1.5s infinite;
}

.sound-button.locked {
    animation: locked-glow 3,0s;
}

@keyframes glowing {
    0% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
    50% { box-shadow: 0 0 20px rgba(255, 255, 255, 1); }
    100% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
}

@keyframes locked-glow {
    0% { box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); }
    100% { box-shadow: 0 0 20px rgba(255, 0, 0, 1); }
}

.achievements {
    margin-top: 30px;
}

.achievements h2 {
    margin-bottom: 10px;
}

.achievements ul {
    list-style-type: none;
    padding: 0;
}

.achievements li {
    background: #15ab68;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}


